{{ define "head" }}
{{ $options := dict "transpiler" "dartsass" "targetPath" "css/list.css" }}
{{ with resources.Get "sass/layouts/list.scss" | toCSS $options | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}
{{ $options := dict "transpiler" "dartsass" "targetPath" "css/index.css" }}
{{ with resources.Get "sass/layouts/index.scss" | toCSS $options | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}
{{ end }}

{{ define "main" }}
<main id="main">
  {{ with .Site.GetPage "_index.md" }}
  <section class="bio content">
    {{ .Content }}
  </section>
  <hr>
  {{ end }}

  <div class="post-archive">
  {{ range .Site.Taxonomies.tags.ByCount }}
    <section class="tag-section">
      <h3 class="tag-header">
        <a class="tag-link" href="{{ "/tags/" | relURL }}{{ .Name | urlize }}/">{{ .Name }}</a>
        <span class="post-count">{{ len .Pages }} {{ if gt (len .Pages) 1 }}posts{{ else }}post{{ end }}</span>
      </h3>
      <ul class="post-list">
      {{ range .Pages }}
        <li>
          <a class="post-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
          <time class="post-date">{{ .PublishDate.Format "2 Jan 2006" }}</time>
        </li>
      {{ end }}
      </ul>
    </section>
  {{ end }}
  </div>
</main>
{{ end }}
