{{ define "head" }}
{{ $options := dict "transpiler" "dartsass" "targetPath" "css/list.css" }}
{{ with resources.Get "sass/layouts/list.scss" | toCSS $options | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}
{{ $options := dict "transpiler" "dartsass" "targetPath" "css/index.css" }}
{{ with resources.Get "sass/layouts/index.scss" | toCSS $options | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}
{{ end }}

{{ define "main" }}
<main id="main">
  {{ with .Site.GetPage "_index.md" }}
  <section class="bio content">
    {{ .Content }}
  </section>
  <hr>
  {{ end }}

  <dl class="topic-list">
  {{ range .Site.Taxonomies.tags.ByCount }}
    <dt><a class="link" href="{{ "/tags/" | relURL }}{{ .Name | urlize }}/">{{ .Name }}</a></dt>
    <dd><ul>{{ range .Pages }}<li><a class="link" href="{{ .RelPermalink }}">{{ .Title }}</a></li>{{ end }}</ul></dd>
  {{ end }}
  </dl>
</main>
{{ end }}
